<%= form_with model: post do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトルをここに", class: 'form-control post_title ' %>
  </div>
  <div class="form-group">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, placeholder: "本文をここに", class: 'form-control post_body' %>
  </div>

  <div class="form-group">
    <%= f.label :genre, "ジャンル" %>
    <%= f.collection_select(:genre_id, @genres, :id, :genre_name, {prompt: "ジャンルを選択してください"}, {class: "form-control mb-2"}) %>
  </div>

  <div class="form-group">
    <%= f.label :rate, "レート" %>
    <div id="star">
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>
  </div>

  <script>
    $('#star').empty();
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      score: <%= @post.rate %>,
      scoreName: 'post[rate]',
      half: true,
    });
  </script>

  <div class="form-group">
    <% if action_name == "new" %>
      <%= f.submit "投稿する", class: 'btn btn-success' %>
    <% else %>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
