<div id="rate_<%= post.id %>" class="form-group"></div>
<script>
  $('#rate_<%= post.id %>').empty();
  $('#rate_<%= post.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= post.rate %>,
  });
</script>