<div class="mt-5 mb-5">
  <h3 class="heading text-center col-10 col-md-4 col-xl-3">投稿一覧</h3>
  <div class="flame container mt-5 mb-5">
    <%= search_form_for @q do |f| %>
      <div class="row form-group justify-content-center">
        <div class="form-width col-10 col-md-8 col-xl-6">
          <%= f.search_field :title_cont, placeholder: "投稿タイトル検索", class: 'form-control' %>
        </div>
        <div class="form-width col-10 col-md-8 col-xl-6 text-center">
          <%= f.label :genre_id, "ジャンル" %>
          <%= f.collection_select :genre_id_eq, @genres, :id, :genre_name, include_blank: '指定なし' %>
          <%= f.submit "検索", class: "btn btn-info ml-3 mb-1" %>
        </div>
      </div>
    <% end %>
    <div class="search_form">
      <%= sort_link(@q, :created_at, "新しい順/古い順", default_order: :desc ) %> |
      <%= sort_link(@q, :rate, "レート順", default_order: :desc ) %> |
      <%= sort_link(@q, :favorites_count, "いいね順", default_order: :desc ) %>
    </div>
    <%= render 'public/users/post_index', posts: @posts, params_name: "page" %>
  </div>
</div>