<div class="text-center mt-5 mb-5">
  <h3 class="heading col-10 col-md-4 col-xl-3">投稿一覧</h2>
  <div class="form-wrapper mt-3 mb-5 col-12 col-md-11 col-xl-9">
    <div class="form-group">
      <%= search_form_for @q do |f| %>
        <div class="search_form col-10 col-md-5 col-xl-4">
          <%= f.search_field :title_cont, placeholder: "投稿タイトル検索", class: 'form-control' %>
        </div>
          <%= f.label :genre_id, "ジャンル" %>
          <%= f.collection_select :genre_id_eq, @genres, :id, :genre_name, include_blank: '指定なし' %>
          <%= f.submit "検索", class: "btn btn-info ml-3 mb-1" %>
      <% end %>
    </div>
    <div class="row">
        <%= sort_link(@q, :created_at, "古い順/新しい順") %> |
        <%= sort_link(@q, :rate, "レート低い順/高い順") %>
        <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>