<div class='container'>
  <div class='flame row mt-3 test'>
		<h2 class="heading text-center col-10 col-md-4 col-xl-3">投稿詳細</h2>
		<table class='table'>
		  <tr>
        <td>
          <%= link_to(@post.user) do %>
            <div class="post-show-name">
              <%= image_tag @post.user.get_profile_image, size:"60x60", class:"profile_image" %><%= @post.user.name %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <td>ジャンル名：<%= @post.genre.genre_name %></td>
      </tr>
      <tr>
        <td>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td class="d-flex">
          <div>いいね数：</div>
          <div class="favorite_buttons_<%= @post.id %>">
            <% if user_signed_in? %>
              <%= render "public/favorites/btn", post: @post %>
            <% else %>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <%= @post.favorites.count %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="d-flex">
          <div>コメント数：</div>
          <div class="post-comments-counter">
            <%= render "public/post_comments/counter", post: @post %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="d-flex">
          <div>
            レート：
          </div>
          <div>
            <%= render "static_rate", post: @post %>
          </div>
        </td>
      </tr>
      <% if @post.user == current_user %>
        <td>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id} mr-5" %>
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
        </td>
      <% end %>
    </table>
  </div>

  <div class="flame row mt-5">
    <h4 class="sub_heading mb-2 ml-2">マイセレクト一覧</h4>
    <div>
      <% if @post.user == current_user %>
        <%= link_to "新規マイセレクト追加", new_post_my_select_path(@post), class: "btn btn-outline-info m-3" %>
      <% end %>
    </div>
    <div class="w-100 test-center m-auto row">
      <% if @selects.exists? %>
        <% @selects.each do |select| %>
          <div class="w-100 mt-3">
            <div class = "card">
              <div class = "select-title m-1">
                <%= select.title %>
              </div>
              <div class = "m-2">
                <%= select.body %>
              </div>
              <% if @post.user == current_user %>
                <div class="m-2">
                  <%= link_to '編集', edit_post_my_select_path(@post, select), class: "btn btn-sm btn-success edit_post_my_select_#{select.id}" %>
                  <%= link_to '削除', post_my_select_path(@post, select), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_my_select_#{select.id}" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="mt-2"><%= paginate @selects, :param_name => "select_page" %></div>
      <% else %>
        <p>マイセレクトはありません</p>
      <% end %>
    </div>
  </div>

  <div class="flame row mt-5 mb-3">
    <h4 class="sub_heading mt-2">コメント</h4>
    <div class="post-comments-index w-100">
      <%= render "public/post_comments/index", post: @post, post_comments: @post_comments %>
    </div>
    <%= paginate @post_comments, :param_name => "post_comment_page" %>

    <span id="flash"></span> <!-- Flash message for jQuery -->
    <div class="comments_error">
      <%= render 'layouts/error_messages', model: @post_comment %>
    </div>
    <div class="col-12">
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>

</div>