<div class="main-visual">
    <%#= image_tag "house.png", class: "top-image" %>
    <div class="main-visual-content d-flex align-items-center">
      <div class="main-visual-text ">
          エンタメをレビューして記録、共有できるアプリ</br>
          <%= link_to "今すぐ始める", new_user_registration_path, class: "text-light btn btn-primary mr-1 mb-1" %>
      </div>
    </div>
</div>
<div class="main">
    <div class="worries-title text-center">
      こんなお悩みありませんか?
    </div>
    <div class="angler-worries row">
      <div class="col-xs-12 col-md-6 worries-img-area text-center">
          <%= image_tag asset_path("Creativity-bro.png"), class: "worries_img" %>
      </div>
      <div class="col-xs-12 col-md-6 worries-area">
         <ul class="worries-list">
             <li class="worries-item fadein-left active"><i class="fas fa-check worries_check"></i>漫画を何巻まで読んだか忘れてしまった...</li>
             <li class="worries-item fadein-left active"><i class="fas fa-check worries_check"></i>自分の趣味嗜好が相手にすぐ伝えたい...</li>
             <li class="worries-item fadein-left active"><i class="fas fa-check worries_check"></i>友人が何にハマっているか知りたい...</li>
         </ul>
      </div>
    </div>
    <div class="settle-title text-center fadein active">
      そんな人に</br> <%= image_tag asset_path("my_entame_logo3.png"), class: "application-logo" %></br>です!!
    </div>
    <div class="container-fluid">
        <div class="settle-area row text-center">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">エンタメを記録できる</div>
                    <%= image_tag asset_path("recommend.png"), class: "settle-img" %>
                    <p class="settle-description mt-3">触れたエンタメを投稿し、記録することができます</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">レビューできる</div>
                    <%= image_tag asset_path("star.png"), class: "settle-img" %>
                    <p class="settle-description mt-3">投稿時に、エンタメを星５つでレビューできます</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                 <div class="settle fadein active">
                    <div class="settle-heading pt-4">自分の趣味嗜好を知ってもらえる</div>
                    <%= image_tag asset_path("self_introduction.png"), class: "settle-img" %>
                    <p class="settle-description mt-3">マイページのURLを相手に送り、見てもらうことで自分の趣味嗜好を伝えることができます</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="settle fadein active">
                    <div class="settle-heading pt-4">投稿を共有できる</div>
                    <%= image_tag asset_path("follow.png"), class: "settle-img" %>
                    <p class="settle-description mt-3">気になる人がいればフォローしよう！「コメント機能」「いいね機能」で共有しよう！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="step-area-title text-center fadein active">
        <span class="title-header mt-3">かんたん!!</span>アプリの使い方<strong class="title-num">3</strong>Step
    </div>
    <div class="step-area row no-gutters mb-5">
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="step text-center mt-3 fadein active">
                <div class="step-title">Step <strong class="step-num">1</strong></div>
                <div class="step-copy">エンタメに触れる</div>
                <%= image_tag asset_path("Reading_comics.png"), class: "settle-img" %>
                <div class="step-description">エンタメに触れる｡(過去に触れたエンタメでも構いません)</div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="step text-center mt-3 fadein active">
                <div class="step-title">Step <strong class="step-num">2</strong></div>
                <div class="step-copy">アプリにレビューを記録</div>
                <%= image_tag asset_path("Editing_body_text.png"), class: "settle-img" %>
                <div class="step-description">
                 アプリにレビューを記録｡「マイセレクト機能」でお気に入りシーンなどを登録しよう。
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="step text-center mt-3 fadein active">
                <div class="step-title">Step <strong class="step-num">3</strong></div>
                <div class="step-copy">共有</div>
                <%= image_tag asset_path("Online_world.png"), class: "settle-img" %>
                <div class="step-description">記録を共有しよう。「フォロー機能」で気になる人をフォローできます。</div>
            </div>
        </div>
    </div>
</div>