<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td>ユーザー名</td>
          <td>
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"60x60" %>
              <%= @post.user.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>本文</td>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <td>ジャンル名</td>
          <td><%= @post.genre.genre_name %></td>
        </tr>
          <td>いいね数</td>
          <td><i class="fas fa-heart"></i>︎<%= @post.favorites.count %></td>
          <!--<td class="post-comments-counter">-->
          <!--  <%#= render "post_comments/counter", post: @post %>-->
          <!--</td>-->
        <tr>
          <td>レート</td>
          <td><%= render "public/posts/static_rate", post: @post %></td>
        </tr>
        <td><%= link_to '編集', edit_admin_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>
        <td><%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %></td>
      </table>

      <h3>マイセレクト一覧</h3>

      <div class="row">
      </div>
      <% if @selects.exists? %>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>タイトル</th>
              <th>本文</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @selects.each do |select| %>
              <tr>
                <td><%= select.title %></td>
                <td><%= select.body %></td>
                  <td>
                    <%= link_to '編集', edit_admin_post_my_select_path(@post, select), class: "btn btn-sm btn-success edit_post_my_select_#{select.id}" %>
                    <%= link_to '削除', admin_post_my_select_path(@post, select), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_my_select_#{select.id}" %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>マイセレクトはありません</p>
      <% end %>

      <!--<div class="post-comments-index">-->
      <!--  <%#= render "post_comments/index", post: @post %>-->
      <!--</div>-->

      <%#= render "post_comments/form", post: @post, post_comment: @post_comment %>

    </div>
  </div>
</div>