<div class="container">
  <div class="row">
    <h3 class="m-3 bg-light">
      <%= @user.name %>さんの詳細
    </h3>
  </div>
  <div class="my-3">
    <div class="row">
      <div class="col-2">プロフィール画像</div>
      <div class="col-6"><%= image_tag @user.get_profile_image, size:'50x50' %></div>
    </div>
    <div class="row">
      <div class="col-2">ユーザーID</div>
      <div class="col-6"><%= @user.id %></div>
    </div>
    <div class="row">
      <div class="col-2">名前</div>
      <div class="col-6"><%= @user.name %></div>
    </div>
    <div class="row">
      <div class="col-2">メールアドレス</div>
      <div class="col-6"><%= @user.email %></div>
    </div>
    <div class="row">
      <div class="col-2">ステータス</div>
      <% if @user.is_deleted == false %>
        <div class="col-6 text-success">有効</div>
      <% elsif %>
        <div class="col-6 text-danger">退会</div>
      <% end %>
    </div>
    </div>
    <div class="row my-5">
      <div>
        <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success mr-5" %>
      </div>
      <div>
        <%= link_to "削除する", admin_user_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
      </div>
    </div>
    <div>
      <%= link_to "ユーザー一覧へ戻る", admin_users_path, class: "btn btn-primary" %>
    </div>
</div>