<% visitor = notification.visitor %>
<% post = notification.post %>

<div class="border-bottom pb-2 mt-2">
  <div class="row">
    <div class="col-12 col-md-2 col-xl-1">
      <%= link_to user_path(notification.visitor) do %>
        <%= image_tag visitor.get_profile_image, size:'50x50', class: "profile_image" %>
      <% end %>
    </div>
    <div class="col-12 col-md-10col-xl-11">
      <div class="text_omit_notification">
        <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
      </div>
      <br>
      <% if !@post_comment.nil? %>
        <p class="moderate-font text_omit" style="color: #C0C0C0;"><%= @post_comment_comment %></p>
      <% end %>
    </div>
  </div>
</div>