<div class="row">
  <% posts.each do |post| %>
    <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
      <div class = "card">
        <div class = "text_omit ml-3 mt-3">
          <%= link_to(post.user) do %>
            <%= image_tag post.user.get_profile_image, size:'40x40', class:"profile_image" %>
            <%= post.user.name %>
          <% end %>
        </div>
        <div class = "card-body">
          <h5 class = "card-title text_omit">
            <%= link_to post.title,post, class: "post_#{post.id}" %>
          </h5>
          <h6 class = "card-subtitle">
            <div><%= post.genre.genre_name %></div>
            <div><%= render "public/posts/static_rate", post: post %>
              <div class="favorite_buttons_<%= post.id %>">
                <% if user_signed_in? %>
                  <%= render "public/favorites/btn", post: post %>
                <% else %>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= post.favorites.count %>
                <% end %>
              </div>
            </div>
          </h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="mt-3 mr-1 ml-1"><%= paginate posts, :param_name => params_name %></div>