<div class="container">
  <div class="row">
    <h3 class="my-5 bg-light">ユーザー一覧</h3>
  </div>
  <div class="row">
    <%= search_form_for @q do |f| %>
      <%= f.label :name, "ユーザー名検索" %>
      <%= f.search_field :name_cont %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <%= render 'index',users: @users %>
</div>