<nav class="navbar navbar-expand-xl navbar-dark shadow-sm">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand">
          <%= image_tag 'my_entame_logo3.png', size: "180x30" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag 'my_entame_logo3.png', size: "180x30" %>
        </a>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_posts_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-list"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_genres_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-layer-group"></i> ジャンル一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% elsif user_signed_in? %>
            <p class="welcome_name text_omit mx-col-3 text-white mr-2 my-auto text-nowrap"><small>ようこそ</small><%= current_user.name %><small>さん！</small></p>
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link text-light text-nowrap btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-user-circle"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-list"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_post_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-paper-plane"></i> 新規投稿
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to notifications_path, class:"nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <% if unchecked_notifications.any? %>
                  <i class="fas fa-bell"></i>
                  <i class="fas fa-exclamation-circle" style="color: gold;"></i>
                <% else %>
                  <i class="fas fa-bell"></i><!--通知マーク-->
                <% end %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-list"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link text-light btn btn-primary mr-1 mb-1" do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>