<!DOCTYPE html>
<html>
  <head>
    <title>MyEntame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <heder>
    <%= render 'layouts/header' %>
  </heder>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>

  <footer class="text-center bg-light text-muted">
    <p class="py-3">my_entame</p>
  </footer>

</html>
